.container {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
    }

    body {
        background-color: paleturquoise;
        margin: 0;
    }

    h1 {
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 red;
        font-size: rgb(96, 0, 128);
        color:greenyellow;
        text-align: center;
    }

    p {
        font-size: 2rem;
        color:red;
        font-family: "Indie Flower", cursive;
    }

    img {
        width: 100%;
    }

    .bottom {
        padding-top: 30px;
    }

    .butn {
        background: #4ecca3;
        font-family:sans-serif, cursive;
        border-radius: 7px;
        color: #ffff;
        font-size: 30px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
    }

    .butn:hover {
        background: blueviolet;
        text-decoration: none;
    }
    img{
      top:30%;
      left:40%
    }
